<%- include ../layouts/cabecera.ejs %> 
<br/>
<br/>

<div class="card">
    <div class="card-header">
        Formulario de Datos de Monicion
    </div>
    <div class="card-body">
        <h5 class="card-title">Editar datos de la Monición</h5>
        <p class="card-text">
            <form method="post" action="../actualizar/">    

                <input type="hidden" name="id" value="<%=monicion.id%>">
                
                    <div class="form-group">
                        <label for="my-input">Monición del día:</label>
                        <input value="<%=monicion.titulo%>" minlength="5" class="form-control" type="text" name="titulo">
                    </div>
                    <div class="form-group">
                        <label for="my-input">Ciclo:</label>
                        <input value="<%=monicion.ciclo%>" minlength="1" maxlength="8" class="form-control" type="text" name="ciclo">
                    </div>
                    <div class="form-group">
                        <label for="my-input">Tiempo:</label>
                        <input value="<%=monicion.tiempo%>"minlength="6" maxlength="20" class="form-control" type="text" name="tiempo">
                    </div>
                    <div class="form-group">
                        <label for="my-input">Monición de Entrada:</label>
                        <input value="<%=monicion.entrada%>" minlength="200" class="form-control" type="text" name="entrada">
                    </div>
                    <div class="form-group">
                        <label for="my-input">Monición de las Lecturas:</label>
                        <input value="<%=monicion.lecturas%>" minlength="50" class="form-control" type="text" name="lecturas">
                    </div>
                    <div class="form-group">
                        <label for="my-input">Respuesta Oración Universal:</label>
                        <input value="<%=monicion.respuestaOracionUniversal%>" minlength="15" maxlength="100" class="form-control" type="text" name="respuestaOracionUniversal">
                    </div>
                    <div class="form-group">
                        <label for="my-input">Oración Universal 1:</label>
                        <input value="<%=monicion.oracionUniversal1%>" minlength="15" maxlength="400" class="form-control" type="text" name="oracionUniversal1">
                    </div>
                    <div class="form-group">
                        <label for="my-input">Oración Universal 2:</label>
                        <input value="<%=monicion.oracionUniversal2%>" minlength="15" maxlength="400" class="form-control" type="text" name="oracionUniversal2">
                    </div>
                    <div class="form-group">
                        <label for="my-input">Oración Universal 3:</label>
                        <input value="<%=monicion.oracionUniversal3%>" minlength="15" maxlength="400" class="form-control" type="text" name="oracionUniversal3">
                    </div>
                    <div class="form-group">
                        <label for="my-input">Oración Universal 4:</label>
                        <input value="<%=monicion.oracionUniversal4%>" minlength="15" maxlength="400" class="form-control" type="text" name="oracionUniversal4">
                    </div>
                    <div class="form-group">
                        <label for="my-input">Oración Universal 5:</label>
                        <input value="<%=monicion.oracionUniversal5%>" minlength="15" maxlength="400" class="form-control" type="text" name="oracionUniversal5">
                    </div>
                    <div class="form-group">
                        <label for="my-input">Presentación de las Ofrendas:</label>
                        <input value="<%=monicion.presentacionDeLasOfrendas%>" minlength="15" maxlength="650" class="form-control" type="text" name="presentacionDeLasOfrendas">
                    </div>
                    <div class="form-group">
                        <label for="my-input">Monición de la Comunión</label>
                        <input value="<%=monicion.comunion%>" minlength="15" class="form-control" type="text" name="comunion">
                    </div>
                    <div class="form-group">
                        <label for="my-input">Monición de Despedida:</label>
                        <input value="<%=monicion.despedida%>" minlength="15" class="form-control" type="text" name="despedida">
                    </div>
                    <br>
                    <button class="btn btn-success" type="submit">Actualizar</button>
                    <a class="btn btn-primary" href="/">Cancelar</a>
            </form>
        </p>
    </div>
</div>

<%- include ../layouts/social.ejs %>
<%- include ../layouts/pie.ejs %> 